# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
npm-debug.log
yarn-error.log

# Editor directories and files
.vscode
.idea
!.vscode/extensions.json
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
.DS_Store

# Tests
coverage
.nyc_output

# Vite project
client/dist
client/node_modules
client/dist-ssr
client/.env.*
client/.DS_Store
client/*.local

# NestJS project
server/dist
server/node_modules
server/build
server/.env.*
server/.DS_Store
server/*.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json